<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Exihibit And Fines</title>
</head>
<div class="col-lg-12" layout:fragment="header">
    <h1 class="page-header">
        Complaints
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a th:href="@{/complaints/list}">List complaints</a>
        </li>
        <li class="active">
            <i class="fa fa-edit"></i>
        </li>
    </ol>
</div>
<div class="row" layout:fragment="middle">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong></strong>  <a href="/" class="alert-link"></a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> complaints</h3>
                </div><!-- /.row -->

        <form th:object="${complaints}" th:action="@{/complaints/save}" action="#" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-2 control-label" for="complaint">Complaint</label>
                <div class="col-xs-6">
                    <input type="text" id="complaint" class="form-control" th:field="*{complaint}"/>
                    <div th:if="${#fields.hasErrors('complaint')}" th:errors="*{complaint}">Complaint Error</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label" for="drivingLicense">drivingLicense</label>
                <div class="col-xs-6">
                    <select id="drivingLicense" th:field="*{drivingLicense}" class="form-control">
                        <option value="" text="----Choose Contravention----"></option>
                        <option th:each="t : ${contravention}" th:value="${t.id}"  th:text="${t.drivingLicense}"></option>
                        <div th:if="${#fields.hasErrors('drivingLicense')}" th:errors="drivingLicense">contravention Error</div>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label" for="decision">decision</label>
                <div class="col-xs-6">
                    <input type="text" id="decision" class="form-control" th:field="*{decision}"/>
                    <div th:if="${#fields.hasErrors('decision')}" th:errors="*{decision}">Decision Error</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="decisionDate">decisionDate</label>
                <div class="col-xs-6">
                    <input type="date" id="decisionDate" class="form-control" th:field="*{decisionDate}"/>
                    <div th:if="${#fields.hasErrors('decisionDate')}" th:errors="*{decisionDate}">DecisionDate Error</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label" for="complaintDate">complaintDate</label>
                <div class="col-xs-6">
                    <input type="date" id="complaintDate" class="form-control" th:field="*{complaintDate}"/>
                    <div th:if="${#fields.hasErrors('complaintDate')}" th:errors="*{complaintDate}">ComplaintDate Error</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="responsible">responsible</label>
                <div class="col-xs-6">
                    <input type="text" id="responsible" class="form-control" th:field="*{responsible}"/>
                    <div th:if="${#fields.hasErrors('responsible')}" th:errors="*{responsible}">Responsible Error</div>
                </div>
            </div>

            <div class="form-group">

                <div class="col-xs-6">
                    <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                </div>
            </div>




        </form>

                </div>
            </div>
        </div>
    </div>
</html>
