
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Exihibit And Fines</title>
</head>
<div class="col-lg-12" layout:fragment="header">
    <ol class="panel-heading">
    <h3 class="page-header">
        driver
    </h3>
        </ol>
   <!-- <ol class="breadcrumb">

        <li class="active">
            <i class="fa fa-edit"></i>
        </li>
    </ol>-->
</div>
<div class="row" layout:fragment="middle">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong></strong>  <a
                href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link"></a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Driver</h3>
                </div>
                <!-- /.row -->

                <form th:object="${drivertelephone}" th:action="@{/drivertelephone/save}" action="#" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="roleName"> First Name</label>
                        <div class="col-xs-6">
                            <input type="text" id="roleName" class="form-control" th:field="*{firstName}"/>
                            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">roleName Error</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="lastName"> Last Name</label>
                        <div class="col-xs-6">
                            <input type="text" id="lastName" class="form-control" th:field="*{lastName}"/>
                            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="telephone"> Telephone</label>
                        <div class="col-xs-6">
                            <input type="number" id="telephone" class="form-control" th:field="*{telephone}"/>
                            <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">telephone Error</div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                        </div>
                    </div>



                </form>

            </div>
        </div>
    </div>
</div>
</html>