<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Welcome to Exihibit And Fines </title>
</head>
<div class="col-lg-12" layout:fragment="header">
    <h1 class="page-header">

    </h1>

</div>
<div class="row" layout:fragment="middle">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="false">&times;</button>
            <i class=""></i> <strong>Welcome to Exhibits and Fines</strong>  <a
                href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link"></a>
        </div>
    </div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <img  alt="" src="https://pbs.twimg.com/profile_images/1689403802/Logo_police_social_media_bigger.png"/>
                    <h3 class="panel-title"><i class=""></i>  Rwanda National Police </h3>
                    <h1 class="page-header">

                      <strong>Road Traffic Offence Committed Management Information System</strong>
                    </h1>
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <div class="text-right">



                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</html>
