<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Exihibit And Fines</title>
</head>
<div class="col-lg-12" layout:fragment="header">
    <h1 class="page-header">
        Offences
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a href="">List Offences</a>
        </li>
        <li class="active">
            <i class="fa fa-edit"></i>
        </li>
    </ol>
</div>
<div class="row" layout:fragment="middle">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong></strong>  <a
                href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Offences</h3>
                </div>
                <!-- /.row -->

                <form th:object="${offences}" th:action="@{/offences/save}" action="#" method="post" class="form-horizontal" role="form">
                    <div style="display: none">
                        <input type="text" th:field="*{id}" class="form-control" th:href="id"/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="name">Name</label>
                        <div class="col-xs-6">
                            <input type="text" id="name" class="form-control" th:field="*{nameOffence}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="punishment">Punishement</label>
                        <div class="col-xs-6">
                            <select id="punishment" th:field="*{punishments}" class="form-control">
                                <option value="" text="----Choose Punishment----"></option>
                                <option th:each="t : ${punishements}" th:value="${t.id}"  th:text="${t.description}"></option>
                            </select>
                        </div>
                    </div>
                    <div style="clear:both; display:block;height:10px;"></div>
                    <input type="checkbox" th:field="*{voided}" class="form-control"/>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                        </div>
                    </div>




                </form>

            </div>
        </div>
    </div>
</div>
</html>