DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Exihibit And Fines</title>
</head>
<div class="col-lg-12" layout:fragment="header">
    <ol class="panel-heading">
    <h3 class="page-header">
        Punishment Policy
    </h3>
        </ol>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a href="@{/operation}">Add New Punishement Policy</a>
        </li>
        <li class="active">

        </li>
    </ol>
</div>
<div class="row" layout:fragment="middle">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong></strong>  <a
                href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link"></a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Punishment Policy</h3>
                </div>
                <!-- /.row -->


                <!-- /.row -->

                <table class="table table-striped table-hover table-condensed dataTab" id="example">

                    <thead>
                    <th>Mark</th>
                    <th>Amount</th>
                    <th>SavedBy</th>
                    <th>Saved Date</th>
                    <th>Edit</th>
                    <th>Punishement</th>
                    </thead>
                    <tbody>
                    <tr th:each="op : ${operation}">
                        <td th:text="${op.setMark}">Mark</td>
                        <td th:text="${op.setPenalties}">setpenalties</td>

                        <td th:text="${op.savedBy.username}">SavedBy</td>
                        <td th:text="${op.savedDate}">Saved Date</td>
                        <td><a th:href="@{/operation/edit/{id}(id=${op.id})}">Edit</a> </td>
                        <td><a th:href="@{/operation/punishet/{id}(id=${op.id})}">Punishement</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>




</html>