
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Exihibit And Fines</title>
</head>
<div class="col-lg-12" layout:fragment="header">
    <ol class="panel-heading">
    <h3 class="page-header">
        Offences
    </h3>
        </ol>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a th:href="@{/offences/list}">List Offences</a>
        </li>
        <li class="active">

        </li>
    </ol>
</div>
<div class="row" layout:fragment="middle">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong></strong>  <a
                href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link"></a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Offence</h3>
                </div>
                <!-- /.row -->
                <div th:if="${messages eq 'unsuccess'}">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <strong>Error!</strong> Data Not Saved.
                    </div>
                </div>
                <div th:if="${messages eq 'success'}">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <strong>Success!</strong> Data Saved Successfully.
                    </div>
                </div>
                <form th:object="${offences}" th:action="@{/offences/save}" action="#" method="post" class="form-horizontal" role="form">
                    <div class="form-group" style="display: none">
                        <label class="col-xs-2 control-label" for="punishement">Punishement Policy</label>
                        <div class="col-xs-6">
                            <input type="text" th:field="*{punishments}" class="form-control" placeholder="punishement" id="punishement"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Description</label>
                        <div class="col-xs-6">
                            <span th:text="${punishment.description}">description</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="description">Offence Name</label>
                        <div class="col-xs-6">
                            <input type="text" id="description" class="form-control" th:field="*{nameOffence}"/>
                            <div th:if="${#fields.hasErrors('nameOffence')}" th:errors="*{nameOffence}"> Description Error</div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                        </div>
                    </div>




                </form>

            </div>
        </div>
    </div>
</div>

</html>