<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Exihibit And Fines</title>
</head>
<div class="col-lg-12" layout:fragment="header">
    <h1 class="page-header">
        User
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a th:href="@{/users/list}">List user</a>
        </li>
        <li class="active">
            <!--<i class="fa fa-edit"></i>-->
        </li>
    </ol>
</div>
<div class="row" layout:fragment="middle">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong></strong>  <a
                href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link"></a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> User</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <div class="text-right">
                        <div th:if="${messages eq 'unsuccess'}">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <strong>Error!</strong> Data Not Saved.
                            </div>
                        </div>
                        <div th:if="${messages eq 'success'}">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <strong>Success!</strong> Data Saved Successfully.
                            </div>
                        </div>
                        <form th:object="${user}" th:action="@{/users/save}" action="#" method="post">

                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="firstName">First Name</label>
                                <div class="col-xs-6">
                                    <input type="text" id="firstName" class="form-control" th:field="*{firstName}"/>
                                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</div>
                                </div>
                            </div>

                            <div style="clear:both; display:block;height:10px;"></div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="lastName">Last Name</label>
                                <div class="col-xs-6">
                                    <input type="text" id="lastName" class="form-control" th:field="*{lastName}"/>
                                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</div>
                                </div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="numberMatricule">Number Matricule</label>
                                <div class="col-xs-6">
                                    <input type="text" id="numberMatricule" class="form-control" th:field="*{numberMatricule}"/>
                                    <div th:if="${#fields.hasErrors('numberMatricule')}" th:errors="*{numberMatricule}">LastName Error</div>
                                </div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <label class="col-xs-2 control-label" >address</label>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="province" class="col-sm-2 control-label">Province</label>
                                    <div class="col-sm-6">
                                            <input type="hidden" class="form-control" id="province" name="province" placeholder="Province" value="" th:field="*{province}" />

                                            <select class="form-control required adh filter" id="ad_province" name="ad_province">
                                                <option value="" selected="selected">--Select--</option>
                                                <option value="Kigali">Kigali City</option>
                                                <option value="Eastern Province">Eastern Province</option>
                                                <option value="Western Province">Western Province</option>
                                                <option value="Northern Province">Northern Province</option>
                                                <option value="Southern Province">Southern Province</option>

                                            </select>
                                        </div>
                                    </div>
                                <div style="clear:both; display:block;height:10px;"></div>
                                    <div class="form-group">
                                        <label for="district" class="col-sm-2 control-label">District</label>

                                        <div class="col-sm-6">
                                            <input type="hidden" class="form-control" id="district" name="district" placeholder="District" value="" th:field="*{district}" />

                                            <select name="dist" id="ad_district" class="adh filter form-control">
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                <div style="clear:both; display:block;height:10px;"></div>
                                    <div class="form-group">
                                        <label for="sector" class="col-sm-2 control-label">Sector</label>

                                        <div class="col-sm-6">
                                            <input type="hidden" class="form-control" id="sector" name="sector" placeholder="Sector" value="" th:field="*{sector}" />

                                            <select name="sector" id="ad_sector" class="adh filter form-control">
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                <div style="clear:both; display:block;height:10px;"></div>
                                    <div class="form-group">
                                        <label for="cellbox" class="col-sm-2 control-label">Cell</label>

                                        <div class="col-sm-6">
                                            <input type="hidden" class="form-control" id="cellbox" name="cell" placeholder="Cell" value="" th:field="*{cell}" />

                                            <select name="cell" id="ad_cell" class="adh filter form-control">
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                <div style="clear:both; display:block;height:10px;"></div>
                                    <div class="form-group">
                                        <label for="villagebox" class="col-sm-2 control-label">Village</label>
                                        <div class="col-sm-6">
                                            <input type="hidden" class="form-control" id="villagebox" name="village" placeholder="Village" value="" th:field="*{village}" />

                                            <select name="village" id="ad_village" class="adh filter form-control">
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>




                            <div style="clear:both; display:block;height:10px;"></div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="telphone">Telephone</label>
                                <div class="col-xs-6">
                                    <input type="text" id="telphone" class="form-control" th:field="*{telphone}"/>
                                    <div th:if="${#fields.hasErrors('telphone')}" th:errors="*{telphone}">Telphone Error</div>
                                </div>
                            </div>



                            <div style="clear:both; display:block;height:10px;"></div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="username">UserName</label>
                                <div class="col-xs-6">
                                    <input type="text" id="username" class="form-control" th:field="*{username}"/>
                                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</div>
                                </div>
                            </div>

                            <div style="clear:both; display:block;height:10px;"></div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="password">Password</label>
                                <div class="col-xs-6">
                                    <input type="password" id="password" class="form-control" th:field="*{password}"/>
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
                                </div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="role">Roles</label>
                                <div class="col-xs-6">
                                    <select id="role" th:field="*{role}" class="form-control">
                                        <option value="" text="----Choose Roles----"></option>
                                        <option th:each="t : ${T(com.example.demo.Model.Roles).values()}" th:value="${t}"  th:text="${t}"></option>
                                        <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Name Error</div>
                                    </select>
                                </div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <input type="checkbox" th:field="*{enabled}" class="form-control"/>
                                </div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</html>
